.responsive{
    width:100%;
    height:0;
    padding-bottom:56.2%;
    position: relative;

}

.responsive iframe{
    position: absolute;
    width:100%;
    height:100%
}

.sitebanner{
    background-color:#4b86b4;
}
.footercss{
    background-color:#4b86b4;
}
.headercss{
    background-color:#4b86b4;
}

.igformat{
    background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px;  min-width:290px !important; max-width:295px !important; max-height: 500px !important; min-height: 500px !important;padding:0; 
}

.nopadding > a {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.headingclr{
    background-color: #adcbe3;
}
.bgimage{
    background: url("../images/homebanner.jpg") center / cover no-repeat;
    width:auto;
    height:550px;
}
.subbgimage{
    background: url("../images/subbanner.jpg") center / cover no-repeat;
    width:auto;
    height:500px;
}
.mainquote{
    position: absolute;
    top:200px;
    background: none;
    border-color: #fff;
    color: #fff;
    font-size:25px;
    text-align: center

    
}
.subquote{
    position: absolute;
    left:100px;
   
}
.bannerpadding{
    padding-right:0px !important;
    padding-left:0px !important;
}

.frontcardstyle{
    border-radius: 25px;
    width:295px !important;
    height:560px !important;
    background-image: linear-gradient(to bottom,  #e7eff6, #adcbe3, #4b86b4);
    text-align: center;
    font-size:14px;
}

.backcardstyle{
    border-radius: 25px;
    width:295px !important;
    height:560px !important;
    background-image: linear-gradient(to bottom,  #e7eff6, #adcbe3, #4b86b4);
    background-color: #adcbe3;
    text-align: center;
    
}

.connectstyle{
    border-radius: 25px;
    width:400px !important;
    height:420px !important;
    background-image: linear-gradient(to top left,  #e7eff6 10%, #adcbe3, #4b86b4);
    font-size:14px;
    text-align:center;
}

.bggradient{
    background-image: linear-gradient(to bottom right,  #e7eff6, #4b86b4,#4d648d);
}

.bggradient2{
    background-image: linear-gradient(to top left,  #e7eff6 1%, #4b86b4 50%,#4d648d 90%);
}

.bggradient3{
    background-image: linear-gradient(to top right,  #e7eff6, #4b86b4,#4d648d 90%);
}

.buttongrad{
    background-image: linear-gradient(to right, #4b86b4,#4d648d) !important;
    border-color:  #4b86b4;
}

.pkglist{
    
    height:250px;
    width:700px;
}
.pkgtitle{
    position:relative;
    left:180px;
    bottom:140px;

}
.pkgcost{
    position:relative;
    left:200px;
     bottom:130px;
     font-size:15px;

}
.pkgamt{
    position:relative;
    left:260px;
    bottom:168px;
    font-size:15px;

}
.pkgdateheader{
    position:relative;
    left:360px; 
    bottom:190px;
}
.pkgdate{
    position:relative;
    left:378px; 
    bottom:253px;
    font-size:15px;
}   
.madhotelheader{
    position:relative;
    left:200px;
    bottom:240px;

}
.madhotel{
    position:relative;
    left:225px; 
    bottom:279px;
    font-size:15px;

}
.mekhotelheader{
    position:relative;
    left:200px;
    bottom:268px;
}
.mekhotel{
    position:relative;
    left:225px; 
    bottom:307px;
    font-size:15px;
}
.airlineheader{
    position:relative;
    left:200px;
    bottom:296px;
}
.airline{
    position:relative;
    left:226px; 
    bottom:337px;
    font-size:15px;
}
.brochurebutton{
    position:relative;
    left:430px;
    bottom:320px;

}
.booknow{
    position:relative;
    left:450px;
    bottom:320px;
}
.pkgcontainer{
    background-image: linear-gradient(to bottom,  #e7eff6, #adcbe3, #4b86b4); 
    list-style-type: none;
    width:750px;
}